<header class="text-white text-center">
  {{if use_hero}}
    <div class="jumbotron container bg-primary">
  {{else}}
    <div class="jumbotron jumbotron-fluid container-fluid bg-primary">
  {{end}}
    <h1>{{title}}</h1>
    <div class="lead">{{description}}</div>
    {{if add_github_view}}
      <a class="github-button" href="https://github.com/{{github_repo}}" data-size="large" aria-label="View {{title}} on GitHub">View on GitHub</a>
    {{end}}
    {{if add_github_star}}
      <a class="github-button" href="https://github.com/{{github_repo}}" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star {{title}} on GitHub">Star</a>
    {{end}}
  </div>
</header>
