<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <div class="container">
    <span class="navbar-brand">
      {{if add_nav_logo}}
        <img src="{{nav_logo_path}}" class="img-fluid" style="{{nav_logo_style}}" alt="{{nav_logo_alt}}"/>
      {{end}}
      <a href="#page-top">{{title}}</a>
      {{if add_docs}}
      ｜ <a href="{{docs_url}}" target="_blank">{{docs_name}}</a>
      {{end}}
    </span>
    <input type="checkbox" id="navbar-toggler-cbox" class="d-none" />
    <label for="navbar-toggler-cbox" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </label>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {{for (s, n) in sections}}
        <li class="nav-item">
          <a class="nav-link" href="#{{fill s}}">{{fill n}}</a>
        </li>
        {{end}}
      </ul>
    </div>
  </div>
</nav>
