.DS_Store
/dev/
/deps/build.log
/deps/lib
.vscode
page/__site
Manifest.toml
/docs/build/
*.jl.*.cov
*.jl.cov
*.jl.mem

/node_modules/
package-lock.json

*.cmd
/bin/
/test/bin/
/test/completions/
/test/Foo/deps/
/test/Foo/Manifest.toml
/test/Foo/build
!/test/Foo/deps/precompile.jl
