.DS_Store
/dev/
/deps/build.log
/deps/lib
.vscode
page/__site
Manifest.toml
/docs/build/
/docs/src/assets/indigo.css
*.jl.*.cov
*.jl.cov
*.jl.mem

/node_modules/
package-lock.json
config.toml

*.cmd
/bin/
/test/bin/
/test/completions/
/test/config.toml

build
*.tar.gz
.julia